.OverallContainer {
  display: flex;
  flex-direction: column;
}

.MyMessageGroupContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 7px;
}

.TheirMessageGroupContainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-left: 2px;
}

.MessageGroup {
  display:inline-block;
  clear: both;
  margin-bottom: 5px;
  font-family: Helvetica, Arial, sans-serif;
  border-radius: 10px;
  position: relative;
  padding: 0 10px;
}

.TheirMessageGroup{
  .MessageGroup;
  margin-left: 3px;
  margin-right: 10px;
  background: #e2e2e2;
  color: #0e1111;
  float: left;
}

.MyMessageGroup{
  .MessageGroup;
  margin-left: 10px;
  margin-right: 3px;
  float: right;
  //background: #0084ff;
  color: #f5f5f5;
}

.Triangle {
  content: '';
  position:absolute;
  border-right:10px solid transparent;
  border-left:10px solid transparent;
}

.MyTriangle {
  .Triangle;
  right:-10px;
  margin-right: 2px;
  border-top: 10px solid #0084ff;
}

.TheirMessageGroup:before {
  .Triangle;
  left: -10px;
  margin-left: 2px;
  border-top:10px solid #e2e2e2;
}

.MessageElement {
  padding: 6px;
  word-break: break-word;
}

.FirstMessage {
  padding-top: 10px;
}

.LastMessage {
  padding-bottom: 10px;
}

.ProfilePicture {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.SystemMessage {
  font-style: italic;
}