.MessageHistory {
  margin-top: 10px;
  height: calc(100% - 225px);
  overflow-y: auto;
  width: inherit;
}
.ScrollbarMessageHistory::-webkit-scrollbar {
  width: 4px;
}
.ScrollbarMessageHistory::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background: dimgray;
}
.ScrollbarMessageHistory::-webkit-scrollbar-track {
  border-radius: 25px;
  background: #e0e0e0;
}
.ReturnToVideoSnackbar {
  right: 35px !important;
}
/*# sourceMappingURL=MessageHistory.css.map */