.DevLogInButton {
  position: fixed;
  top: 50%;
  right: 101px;
}
.ProductionLogInButton {
  position: fixed;
  top: 50%;
}
.ProductionGoogleButton {
  right: 75px;
}
.ProductionGoogleButton > div {
  width: 150px !important;
  background-color: #990000 !important;
  box-shadow: none !important;
}
.ProductionGoogleButton:hover {
  box-shadow: #990000 0 1px 2px 0;
}
.ProductionGoogleButton div:focus {
  outline: none;
}
/*# sourceMappingURL=GoogleProfile.css.map */