.SnackbarGeneral {
  position: absolute;
  top: 65px !important;
}
.CreateRoomSuccess {
  right: 53px !important;
}
.CreateRoomFailure {
  right: 28px !important;
}
.JoinRoomSuccess {
  right: 57px !important;
}
.JoinRoomFailure {
  right: 34px !important;
}
.LeaveRoomSuccess {
  right: 55px !important;
}
.LeaveRoomFailure {
  right: 55px !important;
}
.RoomDoesNotExist {
  right: 5px !important;
}
.SynchronizingSnackbar {
  right: 60px !important;
}
.SynchronizingSuccessSnackbar {
  right: 67px !important;
}
.RoomNameAllowedCharacters {
  right: 33px !important;
}
.CopyClipboard {
  right: 56px !important;
}
.AdWarningSnackbar {
  right: 16px !important;
}
/*# sourceMappingURL=ServerSnackbarStyles.css.map */