.SnackbarGeneral {
  position: absolute;
  top: 65px !important;
}

// Create Room
.CreateRoomSuccess {
  right: 53px !important;
}

.CreateRoomFailure {
  right: 28px !important;
}

// Join Room
.JoinRoomSuccess {
  right: 57px !important;
}

.JoinRoomFailure {
  right: 34px !important;
}

// Leave Room
.LeaveRoomSuccess {
  right: 55px !important;
}

.LeaveRoomFailure {
  .LeaveRoomSuccess
}

// Errors
.RoomDoesNotExist{
  right: 5px !important;
}

// Synchronization
.SynchronizingSnackbar {
  right: 60px !important;
}

.SynchronizingSuccessSnackbar {
  right: 67px !important;
}

// Room Name
.RoomNameAllowedCharacters {
   right: 33px !important;
 }

// Copy
.CopyClipboard {
  right: 56px !important;
}

// Other
.AdWarningSnackbar {
  right: 16px !important;
}