.SharedFadeAwayAnimation {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}
.MovieNightRoot {
  position: fixed;
  width: 300px;
  top: 0;
  right: 0;
  height: 100%;
}
/*# sourceMappingURL=SharedStyles.css.map */