.MainMenuContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.MainMenuInput {
  color: #e2e2e2 !important;
}

.MainMenuButton {
  font-family: 'Inria Sans', sans-serif !important;
  font-size: 15px !important;
  background-color: #990000 !important;
  color: #e2e2e2 !important;
}

.MainMenuHeaderText {
  font-family: Major Mono Display, monospace;
  font-weight: bold;
}

.JoinRoomContainer {
  position: relative;
  margin-top: 100px;
  background-color: #fff;
  border-radius: 10%;
  color: #191919 !important;
  padding: 30px 25px;
}

.PublicRoomsContainer {
  position: relative;
  width: 275px;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 10%;
  color: #191919 !important;
  padding: 30px 25px;
}

.NewRoomContainer {
  position: relative;
  background-color: #fff;
  margin-top: 100px;
  border-radius: 10%;
  color: #191919 !important;
  padding: 30px 25px;
}

.AnimationEffectsMainMenu {
  z-index: -15;
  position: fixed;
  top: 65px;
}

.btn-outline-primary:hover {
  color: #007bff !important;
  background-color: #fff !important;
}

.MainMenuTooltip {
  font-size: 13px;
  font-family: Inria Sans, sans-serif;
  text-align: center;
}


.ScrollbarPublicRooms::-webkit-scrollbar {
  width: 4px;
}

.ScrollbarPublicRooms::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background: #dc3545;
}

.ScrollbarPublicRooms::-webkit-scrollbar-track {
  border-radius: 25px;
  background: #b2b2b2;
}

