.SettingsPaneContainer {
  margin-top: 20px;
  position: relative;
  background-color: #fff;
  border-radius: 35px;
  color: #191919;
  padding: 25px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.SettingsOption {
  margin-bottom: 15px;
}
.ColorPickerGithub {
  margin-bottom: 0;
}
.LeaveRoomButton {
  margin-bottom: 0;
}
.btn-outline-dark:hover {
  color: #343a40 !important;
  background-color: #fff !important;
}
.SettingsHeaderText {
  font-family: Major Mono Display, monospace;
  font-weight: bold;
}
.SettingsDivider {
  background-color: black;
  width: 100%;
}
/*# sourceMappingURL=SettingsPane.css.map */