.MessageInputContainer {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.MessageTypingContainer {
  height: 25px;
  width: 100%;
}

.MessageTypingPicture {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 5px;
}

.MessageTypingInnerContainer {
  display: inline;
}

.DotContainer {
  display: inline-block;
  font-size: 14px;
  color: #ccc;
  border-radius: 30px;
  opacity: 0.3;
}

.DotContainer > div {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: dot-bouncedelay 1.4s infinite ease-in-out both;
  animation: dot-bouncedelay 1.4s infinite ease-in-out both;
  background: rgba(white);
}

.DotContainer .Dot1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.DotContainer .Dot2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes dot-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0)
  }
  40% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes dot-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

.PatreonButton {
  margin-top: 27px;
  align-self: center;
  width: 50%
}