.ReactIcon {
  max-width: 65%;
  margin-bottom: 30px;
}
.ReduxIcon {
  max-width: 60%;
  margin-bottom: 37px;
  margin-left: 2px;
}
.ReduxSagaIcon {
  max-width: 70%;
  margin-bottom: 40px;
}
.TypeScriptIcon {
  max-width: 50%;
  margin-bottom: 37px;
}
.SecondRowIcons {
  margin-top: 20px;
}
.SocketIOIcon {
  margin-top: 20px;
  max-width: 45%;
  margin-bottom: 25px;
}
.ChromeIcon {
  max-width: 50%;
  margin-bottom: 20px;
}
.MaterialUIIcon {
  max-width: 50%;
  margin-bottom: 28px;
}
.ReactBootstrapIcon {
  max-width: 52%;
  margin-bottom: 28px;
}
.StylusIcon {
  max-width: 55%;
  margin-bottom: 30px;
}
.ThirdRowIcons {
  margin-top: 25px;
}
.DockerIcon {
  margin-top: 25px;
  max-width: 55%;
  margin-bottom: 30px;
  margin-left: 10px;
}
.AWSIcon {
  max-width: 70%;
  margin-bottom: 30px;
}
.HerokuIcon {
  max-width: 40%;
  margin-bottom: 25px;
}
.JestIcon {
  max-width: 35%;
  margin-bottom: 20px;
}
.PrettierIcon {
  max-width: 33%;
  margin-bottom: 25px;
}
/*# sourceMappingURL=AboutCards.css.map */