.FeatureCardTooltip {
  font-size: calc(12px + 0.15vw);
  font-family: Inria Sans, sans-serif;
  text-align: center;
}
.SmartPlaybackText {
  font-family: Major Mono Display, monospace;
}
/*# sourceMappingURL=FeatureCardsStyles.css.map */