.WebsiteLottieBackground {
  filter: sepia(50%) saturate(200%) brightness(70%) hue-rotate(330deg);
  position: fixed;
  z-index: -1;
  top: 0;
}

.WebsiteInstructionsContainer {
  margin-left: 1rem;
  border-radius: 10px;
  font-size: calc(16px + 1vw);
  margin-top: 150px;
  font-family: Poppins, serif;
  max-width: calc(100% - 2rem);
  width: fit-content;
  background: #343a40;
  font-weight: bolder;
}

.WebsiteMainTitleTextContainer {
  display: inline-block;
  padding: 25px;
  margin-bottom: 1vw;
}

.WebsiteMainTitleText {
  font-family: 'Major Mono Display', monospace;
  font-size: calc(16px + 1.5vw) !important;
  color: white !important;
  text-align: center;
  font-weight: normal;
}

.WebsiteExpansionPanelContainer {
  margin-top: 1vw;
  max-width: inherit;
}

.WebsiteStepsIcon {
  height: calc(12px + .6vw);
  margin-right: 10px;
}

.WebsiteStepsText {
  font-size: calc(12px + .35vw);
  padding-bottom: 5px;
  padding-top: 5px;
}

.WebsiteIcon {
  margin-left: 10px;
}

.ScrollbarWebsite::-webkit-scrollbar {
  width: calc(5px + .2vw);
}

.ScrollbarWebsite::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background: #dc3545;
}

.ScrollbarWebsite::-webkit-scrollbar-track {
  border-radius: 25px;
  background: #b2b2b2;
}

