#NavBarContainer {
  background-color: #0e1111 !important;
}
.NavBarLogo {
  font-family: 'Major Mono Display', monospace;
  font-size: calc(16px + 1.5vw) !important;
  color: white !important;
  margin-left: 2rem;
}
.NavBarButton {
  font-family: Poppins, serif;
  font-size: 15px !important;
  padding: 12px !important;
  border-radius: 10px !important;
}
.SupportUsButton {
  font-family: Poppins, serif;
  font-size: 15px !important;
  padding: 12px !important;
  border-radius: 10px !important;
  margin-right: 20px;
}
.InstallButton {
  font-family: Poppins, serif;
  font-size: 15px !important;
  padding: 12px !important;
  border-radius: 10px !important;
  margin-right: 10px;
}
.WebsiteButtonContainer {
  display: inline-block;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}
.YouTubeColor {
  color: #ff0000 !important;
}
.YouTubeLinkColor {
  color: #cc0000 !important;
}
.NoLinkColor {
  color: #212529 !important;
}
/*# sourceMappingURL=NavBarStyles.css.map */