.FillHeight {
  top: 0;
  bottom: 0;
  position: fixed;
}
.FixRight {
  right: 0;
  float: right;
}
.Colors {
  background: #191919;
  color: #e2e2e2;
}
.Sizing {
  width: 300px;
  font-size: 16px;
}
.WrapOverflow {
  overflow-wrap: break-word;
}
.MovieNight {
  top: 0;
  bottom: 0;
  position: fixed;
  right: 0;
  float: right;
  overflow-wrap: break-word;
  background: #191919;
  color: #e2e2e2;
  width: 300px;
  font-size: 16px;
  z-index: 1;
}
.AnimationEffects {
  z-index: -1;
  position: absolute;
}
.CenterWithFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
}
.PopcornAnimation {
  z-index: -1;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  z-index: -10;
  height: calc(50%);
}
/*# sourceMappingURL=MovieNight.css.map */