.MovieNightHeader {
  display: flex;
  flex-direction: row;
  padding: 15px 20px 10px;
}

.CenterLogoTextStyling {
  height: 40px;
  line-height: 40px;
}

.HeaderLogoTextStyling {
  font-family: 'Major Mono Display', monospace;
  font-weight: bold;
  font-size: 21px;
  z-index: -1;
  .CenterLogoTextStyling;
}

.AlignSelfRight {
  margin-left: auto;
}

.HeaderIconContainer {
  .AlignSelfRight;
  .HeaderIconSize;
}

.HeaderIconSize {
  width: 40px;
  height: 40px;
}

.HeaderProfilePicture {
  border-radius: 50%;
}

.AnimationEffectsHeader {
  .HeaderIconSize;
  z-index: -1;
  position: absolute;
}

.CenterWithFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
}

.UpArrowAnimation {
  .CenterWithFlex;
  position: absolute;
  z-index: -10;
  bottom: calc(5%);
  right: 100px;
}
